body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: aliceblue;
}

html {
  scroll-behavior: auto; /* or remove it entirely */
}

.navbar {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Optional spacing */
}

.navbar .title h2 {
  margin: 0; /* Remove default margin */
  margin-left: 25px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: relative; /* Required for positioning the pseudo-element */
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px; /* Line thickness (increase for a thicker line) */
  background-color: rgba(128, 128, 128, 0.519);
  transition: width 0.5s ease;
}

.navbar a:hover::after {
  width: 100%; /* Expand to full width on hover */
}

.navbar li:hover a {
  color: grey;
  transition: 0.3s;
}

/* Home & The Contents */
.home {
  margin-top: 4rem;
}

.content1 {
  padding: 60px;
  margin-left: 7rem;
  display: flex;
}

.text1 h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.text2 h {
  color: rgb(93, 91, 91);
}

.profile img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 10rem;
}

/* Me & The Content */
.me {
  margin-top: 10rem;
  padding: 70px;
  color: azure;
  background-color: rgb(33, 33, 33);
}

.summarize p {
  text-align: center;
}

/* Contact */
.contact {
  padding: 70px;
  margin-top: 150px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.gitLogo img {
  width: 150px;
  height: auto;
  border-radius: 15px;
}

.insta img {
  width: 150px;
  height: auto;
  border-radius: 15px;
}

/* Other */
.other {
  margin-top: 10rem;
  padding: 70px;
  color: azure;
  background-color: rgb(33, 33, 33);
  justify-items: center;
  /* position: fixed; */
}

.other h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.languages {
  margin-top: 3rem;
  display: flex;
  gap: 50px;
}
.php img {
  width: 150px;
  height: auto;
}

.py img {
  width: 100px;
  height: auto;
}

.cpp img {
  width: 90px;
  height: auto;
}

.ipynb img {
  width: 90px;
  height: auto;
}
